{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
    <title>Video Recommendations</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="RecSys project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main_styles.css">
    {% block head %}
        <!-- static files for each page here -->
    {% endblock %}
   </head>
   <body>
      <div class="super_container">
         <!-- Header -->
         <header class="header">
            <!-- Top Bar -->
            <div class="top_bar">
               <div class="top_bar_container">
                  <div class="container">
                     <div class="row">
                        <div class="col">
                           <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                              <ul class="top_bar_contact_list">
                                 <li>
                                    <div class="question">Have any questions?</div>
                                 </li>
                                 <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>andrii.kovtun@study.sumdu.edu.ua</div>
                                 </li>
                              </ul>
                              <div class="top_bar_login ml-auto">
                                 <div class="login_button"><a href="{% url 'videorecapp:register' %}">Register</a></div>
                                 {% if user.is_authenticated %}
                                     <div class="login_button"><a href="{% url 'logout' %}">Logout</a></div>
                                     <div id="uname" class="login_button"><em>Welcome, <strong>{{ user.username }}</strong>!</em></div>
                                 {% else %}
                                     <div class="login_button"><a href="{% url 'videorecapp:user_login' %}">Login</a></div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Header Content -->
            <div class="header_container">
               <div class="container">
                  <div class="row">
                     <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                           <div class="logo_container">
                              <a href="{% url 'videorecapp:index' %}">
                                 <div id="top" class="logo_text">Rec<span>Sys</span></div>
                              </a>
                           </div>
                           <nav class="main_nav_contaner ml-auto">
                              <ul class="main_nav">
                                 {% url 'videorecapp:index' as url_index %}
                                 {% url 'videorecapp:recommendations' as url_vrec %}
                                 {% url 'videorecapp:contact' as url_contact %}
                                 <li {% if request.path == url_index %} class="active" {% endif %}><a href="{% url 'videorecapp:index' %}">Home</a></li>
                                 <li {% if request.path == url_vrec %} class="active" {% endif %}><a href="{% url 'videorecapp:recommendations' %}">Personal Recommendations</a></li>
                                 <li {% if request.path == url_contact %} class="active" {% endif %}><a href="{% url 'videorecapp:contact' %}">Contact</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>

         {% block content %}
            <!-- content for each page here -->
         {% endblock %}

         <!-- Footer -->
         <footer class="footer">
            <div class="footer_background" style="background-image:url(/static/images/footer_background.png)"></div>
            <div class="container">
               <div class="row footer_row">
                  <div class="col">
                     <div class="footer_content">
                        <div class="row">
                           <div class="col-lg-3 footer_col">
                              <!-- Footer About -->
                              <div class="footer_section footer_about">
                                 <div class="footer_logo_container">
                                    <a href="#">
                                       <div class="footer_logo_text">Rec<span>Sys</span></div>
                                    </a>
                                 </div>
                                 <div class="footer_about_text">
                                    <p>The best website for providing video recommendations.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-3 footer_col">
                              <!-- Footer Contact -->
                              <div class="footer_section footer_contact">
                                 <div class="footer_title">Contact Us</div>
                                 <div class="footer_contact_info">
                                    <ul>
                                       <li>andrii.kovtun@study.sumdu.edu.ua</li>
                                       <li>+(380) 111 22 33</li>
                                       <li>2, Rymskogo-Korsakova st., 40007 Sumy, Ukraine</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-3 footer_col">
                              <!-- Footer links -->
                              <div class="footer_section footer_links">
                                 <div class="footer_title">Navigate</div>
                                 <div class="footer_links_container">
                                    <ul>
                                       <li><a href="{% url 'videorecapp:index' %}">Home</a></li>
                                       <li><a href="{% url 'videorecapp:recommendations' %}">Personal Recommendations</a></li>
                                       <li><a href="{% url 'videorecapp:contact' %}">Contact</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row copyright_row">
                  <div class="col">
                     <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                        <div class="cr_text">
                           <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                           Copyright &copy;
                           <script>document.write(new Date().getFullYear());</script>
                           All rights reserved | This template is made with
                           <i class="fa fa-heart-o" aria-hidden="true"></i> by
                           <a href="https://colorlib.com" target="_blank">Colorlib</a>
                           <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script src="/static/js/jquery-3.2.1.min.js"></script>
      <script src="/static/styles/bootstrap4/popper.js"></script>
      <script src="/static/styles/bootstrap4/bootstrap.min.js"></script>
      <script src="/static/plugins/greensock/TweenMax.min.js"></script>
      <script src="/static/plugins/greensock/TimelineMax.min.js"></script>
      <script src="/static/plugins/scrollmagic/ScrollMagic.min.js"></script>
      <script src="/static/plugins/greensock/animation.gsap.min.js"></script>
      <script src="/static/plugins/greensock/ScrollToPlugin.min.js"></script>
      <script src="/static/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
      <script src="/static/plugins/easing/easing.js"></script>
      <script src="/static/plugins/parallax-js-master/parallax.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>
