{% extends 'videorecapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->
<div class="home">
   <div class="breadcrumbs_container">
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="breadcrumbs">
                  <ul>
                     <li><a href="{% url 'videorecapp:index' %}">Home</a></li>
                     <li>Contact</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Contact -->
<div class="contact">
   <!-- Contact Info -->
   <div class="contact_info_container">
      <div class="container">
         <div class="row">
            <!-- Contact Form -->
            <div class="col-lg-6">
               <div class="contact_form">
                  <div class="contact_info_title">Contact Form</div>
                  <form action="{% url 'videorecapp:send_email' %}" class="comment_form" method="post">
                      {% csrf_token %}
                      {% for field in contact_form %}
                          <div>
                            <label for="{{ field.id_for_label }}" class="form_title">{{ field.label_tag }}</label>
                            {{ field }}
                          </div>
                      {% endfor %}
                      <div>
                         <button type="submit" class="comment_button trans_200">submit</button>
                     </div>
                  </form>
               </div>
            </div>
            <!-- Contact Info -->
            <div class="col-lg-6">
               <div class="contact_info">
                  <div class="contact_info_title">Contact Info</div>
                  <div class="contact_info_text">
                     <p>
                         Feel free to use contact form to leave a feedback about RecSys,
                         share your comments or suggest improvements.
                     </p>
                  </div>
                  <div class="contact_info_location">
                     <div class="contact_info_location_title">Sumy Office</div>
                     <ul class="location_list">
                        <li>2, Rymskogo-Korsakova st., 40007 Sumy, Ukraine</li>
                        <li>Phone:  +(380) 111 22 33</li>
                        <li>Email: andrii.kovtun@study.sumdu.edu.ua</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
