{% extends 'videorecapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
{% endblock%}

{% block content %}
<!-- Home -->
<div class="home">
   <div class="home_slider_container">
      <!-- Home Slider -->
      <div class="owl-carousel owl-theme home_slider">
         <!-- Home Slider Item -->
         <div class="owl-item">
            <div id="home_sb" class="home_slider_background"></div>
            <div class="home_slider_content">
               <div class="container">
                  <div class="row">
                     <div class="col text-center">
                        <div class="home_slider_title">Video Recommendations</div>
                        <div class="home_slider_subtitle">Explore, Watch, Rate</div>
                        <div class="home_slider_form_container">
                           <form action="{% url 'videorecapp:video_list' %}" method="post" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                              <div class="d-flex flex-row align-items-center justify-content-start">
                                 <input type="search" class="home_search_input" name="search_query" placeholder="Video search by keyword" required="required">
                              </div>
                               {% csrf_token %}
                              <button type="submit" class="home_search_button">search</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Features -->
<div class="features">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="section_title_container text-center">
               <h2 class="section_title">Welcome To RecSys</h2>
               <div class="section_subtitle">
                  <p>A simple video recommendations website</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row features_row">
         <!-- Features Item -->
         <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
               <div class="feature_icon"><img src="/static/images/icon-search.png" alt=""></div>
               <h3 class="feature_title">Search</h3>
               <div class="feature_text">
                  <p>Search videos by keywords</p>
               </div>
            </div>
         </div>
         <!-- Features Item -->
         <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
               <div class="feature_icon"><img src="/static/images/icon-watch.png" alt=""></div>
               <h3 class="feature_title">Watch</h3>
               <div class="feature_text">
                  <p>Watch the videos</p>
               </div>
            </div>
         </div>
         <!-- Features Item -->
         <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
               <div class="feature_icon"><img src="/static/images/icon-rate.png" alt=""></div>
               <h3 class="feature_title">Rate</h3>
               <div class="feature_text">
                  <p>Rate the video to build further recommendations</p>
               </div>
            </div>
         </div>
         <!-- Features Item -->
         <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
               <div class="feature_icon"><img src="/static/images/icon-browse.png" alt=""></div>
               <h3 class="feature_title">Browse</h3>
               <div class="feature_text">
                  <p>Check the recommended videos based on your interests</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Counter -->
<div class="counter">
   <div class="counter_background" style="background-color: #F5F5F5"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="counter_content">
               <h2 class="counter_title">Register Now</h2>
               <!-- Milestones -->
               <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                  <!-- Milestone -->
                  <div class="milestone">
                     <div class="milestone_counter" data-end-value="2">0</div>
                     <div class="milestone_text">months</div>
                  </div>
                  <!-- Milestone -->
                  <div class="milestone">
                     <div class="milestone_counter" data-end-value="{{ total_users }}">0</div>
                     <div class="milestone_text">users</div>
                  </div>
                  <!-- Milestone -->
                  <div class="milestone">
                     <div class="milestone_counter" data-end-value="{{ total_videos }}">0</div>
                     <div class="milestone_text">videos</div>
                  </div>
                  <!-- Milestone -->
                  <div class="milestone">
                     <div class="milestone_counter" data-end-value="{{ total_ratings }}">0</div>
                     <div class="milestone_text">ratings</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
