{% extends 'videorecapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->
<div class="home">
   <div class="breadcrumbs_container">
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="breadcrumbs">
                  <ul>
                     <li><a href="{% url 'videorecapp:index' %}">Home</a></li>
                     <li>Login</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Login -->
<div class="contact">
   <!-- Login Info -->
   <div class="contact_info_container">
      <div class="container">
         <div class="row">
            <!-- Login Form -->
            <div class="col-lg-6">
               <div class="contact_form">
                  <div class="contact_info_title">Login Form</div>
                  <form action="{% url 'videorecapp:user_login' %}" class="comment_form" method="post">
                      {% csrf_token %}
                     <div>
                        <label class="form_title" for="user_name">Username</label>
                        <input type="text" class="comment_input" id="user_name" name="username" required="required" placeholder="Enter username...">
                     </div>
                     <div>
                        <label class="form_title" for="user_password">Password</label>
                        <input type="password" class="comment_input" id="user_password" name="password" required="required" placeholder="Enter password...">
                     </div>
                     <div>
                        <button type="submit" class="comment_button trans_200">submit</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
