{% extends 'videorecapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/video-js/video-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/video.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/video_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->
<div class="home">
   <div class="breadcrumbs_container">
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="breadcrumbs">
                  <ul>
                     <li><a href="{% url 'videorecapp:index' %}">Home</a></li>
                     <li>Personal Recommendations</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Video List -->
<div class="video_list">
   <div class="container">
      <div class="row">
         <div class="col">
             <div class="dummy_top_search"></div>
            <div class="video_post_container">
               <!-- Blog Post -->
                {% for title,embed_url in recommended %}
               <div class="video_post trans_200">
                  <div class="video_post_body">
                     <div class="video_post_text">
                        <iframe width="320" height="240" src="{{ embed_url }}" frameborder='0' allowfullscreen></iframe>
                     </div>
                     <div class="video_post_title"><strong>{{ title }}</strong></div>
                  </div>
               </div>
                {% endfor %}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col text-center">
            <div class="load_more trans_200"><a href="#">Back to top</a></div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
