{% extends 'videorecapp/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->
<div class="home">
   <div class="breadcrumbs_container">
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="breadcrumbs">
                  <ul>
                     <li><a href="{% url 'videorecapp:index' %}">Home</a></li>
                     <li>Register</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Register -->
<div class="contact">
   <!-- Register Info -->
   <div class="contact_info_container">
      <div class="container">
         <div class="row">
         {% if registered %}
            <p>Thank you for registering!</p>
         {% else %}
            <!-- Register Form -->
            <div class="col-lg-6">
               <div class="contact_form">
                  <div class="contact_info_title">Register Form</div>
                  <form class="comment_form" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% for field in user_form %}
                          <div>
                            <label for="{{ field.id_for_label }}" class="form_title">{{ field.label_tag }}</label>
                            {{ field }}
                          </div>
                      {% endfor %}
                      {% for field in profile_form %}
                          <div>
                            <label for="{{ field.id_for_label }}" class="form_title">{{ field.label_tag }}</label>
                            {{ field }}
                          </div>
                      {% endfor %}
                      <div>
                         <button type="submit" class="comment_button trans_200">submit</button>
                     </div>
                  </form>
               </div>
            </div>
         {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
